<div class="header-links dropdown">
    <button class="br-button circle small" type="button" data-toggle="dropdown" aria-label="Abrir Acesso Rápido">
      <i class="fas fa-ellipsis-v" aria-hidden="true"></i>
    </button>
    <div class="br-list">
      <div class="header">
        <div class="title">Acesso Rápido</div>
      </div>
      <a class="br-item" href="javascript:void(0)">Link de acesso 1</a>
      <a class="br-item" href="javascript:void(0)">Link de acesso 2</a>
      <a class="br-item" href="javascript:void(0)">Link de acesso 3</a>
      <a class="br-item" href="javascript:void(0)">Link de acesso 4</a>
    </div>
  </div>